player1Target = "player1"
player1Image = "player1Sprite.png"
player1ImageCropWidth = 41
player1ImageCropWidth = 101
player1HitboxX = 35
player1HitboxY = 90


enemy1Target = "enemy1"
enemy1Image = "zombieSprite.png"
enemy1ImageCropWidth = 70
enemy1ImageCropWidth = 70
enemy1HitboxX = 50
enemy1HitboxY = 50