#mapOptions { float:left; padding:4px; }
#mapOptions input { }

#mapGrid { clear:both; float:left }
#mapGrid table { border: 2px solid #000000; }
#mapGrid table tr { }
#mapGrid table tr td { border: 1px solid #000000; height: 50px; width: 50px; }
#mapGrid table tr td.activeTile { background-color: #6666FF; border-color: #FF0000; }
#mapGrid table tr td div { height: 100%; width: 100%; }
#mapGrid table tr.newRow td { text-align: center; }
#mapGrid table tr.newRow td input { font-size: 24px; height:100%; width:100%; }
#mapGrid table tr td.newCol { text-align: center; }
#mapGrid table tr td.newCol input { font-size: 24px; height:100%; width:100%; }


#tileStatsWindow { border: 2px solid #000000; float: right; height: 200px; padding: 10px; width: 300px; }
#tileStatsWindow label { clear: both; float: left; width: 60px; } 
#tileStatsWindow input { float:left; } 
#tileStatsWindow #saveTile { clear:both; } 